global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon
  pidfile            /var/run/haproxy/haproxy.pid
  stats socket       /var/run/haproxy/haproxy.sock user haproxy group haproxy mode 660 level admin
  stats timeout      10m

  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private

  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL). This list is from:
  #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
  #ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
  #ssl-default-bind-options no-sslv3

  # SSL Options
  ssl-default-bind-options no-sslv3
  ssl-default-bind-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:AES256-GCM-SHA384:AES256-SHA256:AES256-SHA:CAMELLIA256-SHA:AES128-GCM-SHA256:AES128-SHA256:AES128-SHA:SEED-SHA:CAMELLIA128-SHA
  ssl-default-server-options no-sslv3
  ssl-default-server-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:AES256-GCM-SHA384:AES256-SHA256:AES256-SHA:CAMELLIA256-SHA:AES128-GCM-SHA256:AES128-SHA256:AES128-SHA:SEED-SHA:CAMELLIA128-SHA

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client  50000
  timeout server  50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http


listen stats
  bind :9000
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /stats
  stats auth statsuser:statspass


### HTTP SERVICE ###
frontend http-in
  bind *:80

  ##################
  #
  # Use an environment variable to identify the server dynamically
  #
  ##################
  http-response add-header X-Via %[env(HOSTNAME)]

  ##################
  #
  # WAF Status Check
  # Any request to /waf_ping.html will route to a wafCheck* backend.
  #
  # By setting the environment var WAF_SHOULD_SUCCEED to 0 or 1, this
  # will route WAF requests to wafCheckGood or wafCheckBad accordingly.
  #
  ##################
  acl is_waf path /waf_ping.html
  acl waf_check_should_succeed env(WAF_SHOULD_SUCCEED) eq 1

  use_backend wafCheckGood if is_waf waf_check_should_succeed
  use_backend wafCheckBad if is_waf !waf_check_should_succeed

  ##################
  #
  # Default server to route requests
  #
  ##################
  default_backend ServerOfLastResort


# Server of Last Resort
backend ServerOfLastResort
  mode http

# Used only for WAF status check (see acl above)
# This overrides a natural 503 error and serves a 200 response according to the 200waf.http file.
backend wafCheckGood
    mode http
    errorfile 503 /etc/haproxy/errors/200waf.http

backend wafCheckBad
  mode http
  errorfile 503 /etc/haproxy/errors/500waf.http
